<ng-container *ngIf="(orderHistoryList$ | async) as orderHistoryList">
  <div class="container">
    <div class="row">
      <div class="col-12 order-history-header">
        <h3>Ihre Bestellhistorie</h3>
      </div>
    </div>
    <div class="row empty-order-history" *ngIf="orderHistoryList.length === 0">
      <h5>Sie haben noch keine Bestellungen getätigt.</h5>
    </div>
    <ng-container *ngIf="orderHistoryList.length > 0">
      <div class="row">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Bestellnummer</th>
            <th scope="col">Bestelldatum</th>
            <th scope="col">Bestellstatus</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let order of orderHistoryList">
            <td>{{order.id}}</td>
            <td>{{order.orderDate | date}}</td>
            <td>{{order.orderState}}</td>
            <td>
              <a class="link-info"
                   style="cursor: pointer"
                   (click)="onNavigateToOrderDetails(order)">
                Details
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </div>
</ng-container>

