<ng-container *ngIf="(orderHistoryList$ | async) as orderHistoryList">
  <div class="container">
    <div class="row">
      <div class="col-12 order-history-header">
        <h3>Ihre Bestellhistorie</h3>
      </div>
    </div>
    <div class="row">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Bestellnummer</th>
          <th scope="col">Bestelldatum</th>
          <th scope="col">Bestellstatus</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of orderHistoryList">
          <td>{{order.id}}</td>
          <td>11.04.2023</td>
          <td>in Bearbeitung</td>
          <td><a href="#">Details</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>

