<ng-container *ngIf="(orderDetailsFromHistory$ | async) as orderDetailsFromHistory">
  <div class="container">
    <div class="row">
      <div class="col-12 order-history-details-header">
        <h3>Details zu Ihrer Bestellung</h3>
        <p>Bestellnummer: {{orderDetailsFromHistory.id}}</p>
        <p>Bestellstatus: {{orderDetailsFromHistory.orderState}}</p>
      </div>
    </div>
    <app-abstract-order-list [abstractOrder]="orderDetailsFromHistory"></app-abstract-order-list>
    <div class="row">
      <div class="col-12 order-history-details-back">
        <button type="button"
                class="btn btn-secondary"
                routerLink="/order-history">
          Zurück zur Bestellhistorie
        </button>
      </div>
    </div>
  </div>
</ng-container>

