<div class="container">
  <div class="row">
    <div class="col-12 edit-customer-header">
      <h3>Ihre Kundendaten</h3>
      <p></p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 edit-customer">
      <form>
        <div class="mb-3">
          <label for="firstName" class="form-label">Vorname</label>
          <input type="text" class="form-control" id="firstName">
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">Nachname</label>
          <input type="text" class="form-control" id="lastName">
        </div>
        <div class="mb-3">
          <div class="col">
            <label class="form-label">Strasse und Nr.</label>
            <div class="input-group">
              <input type="text" class="form-control" id="street">
              <input type="text" class="form-control" id="streetNumber">
            </div>
          </div>
        </div>
        <div class="mb-3">
          <div class="col">
            <label class="form-label">PLZ und Ort</label>
            <div class="input-group">
              <input type="text" class="form-control " id="zipCode">
              <input type="text" class="form-control" id="town">
            </div>
          </div>
        </div>
        <div class="edit-customer-buttons">
          <button type="submit" class="btn btn-primary">Speichern</button>
        </div>
      </form>
    </div>
  </div>
</div>
