<ng-container *ngIf="(currentCustomer$ | async) as currentCustomer">
  <div class="container">
    <div *ngIf="(customerUpdateSuccess$ | async)" class="alert alert-success" role="alert">
      Ihre Kundendaten wurden erfolgreich aktualisiert.
    </div>
    <div class="row">
      <div class="col-12 edit-customer-header">
        <h3>Ihre Kundendaten</h3>
        <p>Kunden-ID: {{currentCustomer.email}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 edit-customer">
        <form [formGroup]="editCustomerForm" (ngSubmit)="onSubmitEditCustomerForm()">
          <div class="mb-3">
            <label for="firstName" class="form-label">Vorname</label>
            <input
              type="text"
              class="form-control"
              id="firstName"
              formControlName="firstName">
            <p class="alert alert-danger" *ngIf="!editCustomerFormControl['firstName'].valid && editCustomerFormControl['firstName'].touched">Vorname darf nicht leer sein</p>
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Nachname</label>
            <input type="text"
                   class="form-control"
                   id="lastName"
                   formControlName="lastName">
            <p class="alert alert-danger" *ngIf="!editCustomerFormControl['lastName'].valid && editCustomerFormControl['lastName'].touched">Nachname darf nicht leer sein</p>
          </div>
          <div class="mb-3" formGroupName="address">
            <div class="col">
              <label class="form-label">Strasse und Nr.</label>
              <div class="input-group">
                <input type="text"
                       class="form-control"
                       id="street"
                       formControlName="street">
                <input type="text"
                       class="form-control"
                       id="streetNumber"
                       formControlName="streetNumber">
              </div>
              <p class="alert alert-danger" *ngIf="!editCustomerFormAddressControl['street'].valid && editCustomerFormAddressControl['street'].touched">Strasse darf nicht leer sein</p>
              <p class="alert alert-danger" *ngIf="!editCustomerFormAddressControl['streetNumber'].valid && editCustomerFormAddressControl['streetNumber'].touched">Hausnummer darf nicht leer sein</p>
            </div>
          </div>
          <div class="mb-3" formGroupName="address">
            <div class="col">
              <label class="form-label">PLZ und Ort</label>
              <div class="input-group">
                <input type="text"
                       class="form-control"
                       id="zipCode"
                       formControlName="zipCode">
                <input type="text"
                       class="form-control"
                       id="town"
                       formControlName="town">
              </div>
              <p class="alert alert-danger" *ngIf="!editCustomerFormAddressControl['zipCode'].valid && editCustomerFormAddressControl['zipCode'].touched">PLZ darf nicht leer sein</p>
              <p class="alert alert-danger" *ngIf="!editCustomerFormAddressControl['town'].valid && editCustomerFormAddressControl['town'].touched">Ort darf nicht leer sein</p>
            </div>
          </div>
          <div class="edit-customer-buttons">
            <button type="submit"
                    class="btn btn-primary"
                    [disabled]="!editCustomerForm.valid">Speichern</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-container>
