<ng-container *ngIf="(currentCart$ | async) as currentCart">
  <div class="container">
    <div class="row delivery-address" *ngIf="currentCart.deliveryAddress as deliveryAddress">
      <div class="col-12">
        <h3>Ihre Lieferadresse</h3>
        <span>
        {{deliveryAddress.firstName}} {{deliveryAddress.lastName}}<br/>
        {{deliveryAddress.street}} {{deliveryAddress.streetNumber}}<br/>
        {{deliveryAddress.zipCode}} {{deliveryAddress.town}}<br/>
      </span>
      </div>
    </div>
    <hr/>
    <div class="row payment-header">
      <div class="col-12">
        <h4>Bitte geben Sie Ihre Kreditkartendaten ein:</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12 payment">
        <form #creditCardForm="ngForm"
            (ngSubmit)="onSubmitCreditCardForm(currentCart)"
            appExpiryDate>
          <div class="mb-3">
            <label for="cardName" class="form-label">Karteninhaber</label>
            <input type="text"
                   class="form-control"
                   id="cardName"
                   name="cardName"
                   ngModel
                   #cardName="ngModel"
                   required>
            <p class="alert alert-danger" *ngIf="!cardName.valid && cardName.touched">Bitte geben Sie einen Namen ein</p>
          </div>
          <div class="mb-3">
            <label for="cardNumber" class="form-label">Kreditkarten-Nr.</label>
            <input type="text"
                   class="form-control"
                   id="cardNumber"
                   name="cardNumber"
                   ngModel
                   #cardNumber="ngModel"
                   required
                   pattern="^[0-9]{16}$">
            <p class="alert alert-danger" *ngIf="!cardNumber.valid && cardNumber.touched">Kreditkartennummer muss eine 16-stellige Zahl sein</p>
          </div>
          <div class="mb-3">
            <div class="col">
              <label class="form-label">Ablaufdatum</label>
              <div class="row">
                <div class="col-4">
                  <select class="form-control"
                          id="expiryMonth"
                          ngModel
                          name="expiryMonth"
                          #expiryMonth="ngModel"
                          required>
                    <option *ngFor="let month of months">{{month}}</option>
                  </select>
                </div>
                <div class="col-4">
                  <select class="form-control"
                          id="expiryYear"
                          ngModel
                          name="expiryYear"
                          #expiryYear="ngModel"
                          required>
                    <option *ngFor="let year of years">{{year}}</option>
                  </select>
                </div>
              </div>
            </div>
            <p class="alert alert-danger" *ngIf="creditCardForm.errors?.['expiryDate'] && expiryMonth.touched && expiryYear.touched">
              Das Ablaufdatum muss in der Zukunft liegen
            </p>
          </div>
          <div class="mb-3">
            <label for="cvv" class="form-label">CVV</label>
            <input type="text"
                   class="form-control"
                   id="cvv"
                   name="cvv"
                   ngModel
                   #cvv="ngModel"
                   required
                   pattern="^[0-9]{3,4}$">
          </div>
          <div class="checkout-buttons">
            <button type="button"
                    class="btn btn-secondary"
                    (click)="onResetCreditCardForm()">Zurücksetzen</button>&nbsp;&nbsp;
            <button type="submit"
                    class="btn btn-primary"
                    [disabled]="!creditCardForm.valid">Zur Bestellübersicht</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-checkout-footer></app-checkout-footer>
</ng-container>

