<ng-container *ngIf="(createdOrder$ | async) as createdOrder">
  <div class="container">
    <div class="row">
      <div class="col-12 order-confirmation-header">
        <h3>Vielen Dank für Ihre Bestellung</h3>
        <p>Ihre Bestellung wird nun bearbeitet. Ihre Bestellnummer lautet {{createdOrder.id}}</p>
      </div>
    </div>
    <app-abstract-order-list [abstractOrder]="createdOrder"></app-abstract-order-list>
    <div class="row">
      <div class="col-12 order-confirmation-continue-shopping">
        <button type="button" class="btn btn-secondary" routerLink="/">Weiter einkaufen</button>
      </div>
    </div>
  </div>

</ng-container>
